# .env
LLM_PROVIDER=ollama  # or openai_compatible

# config for LLM
EMBED_MODEL=your_embedding_model_here  # e.g., nomic-embed-text
LLM_BASE_URL=http://localhost:11434
LLM_MODEL=main-agent
LLM_API_KEY=  # OpenAI-compatible, remain empty for Ollama
LLM_TIMEOUT=180
LLM_TEMPERATURE=0.7

ROUTER_LLM_PROVIDER=ollama
ROUTER_LLM_BASE_URL=http://localhost:11434
ROUTER_LLM_MODEL=router-agent
ROUTER_LLM_API_KEY=  # OpenAI-compatible, remain empty for Ollama

JINA_API_KEY=your_jina_api_key_here

AGENT_MAX_STEPS=10