# .env
LLM_PROVIDER=ollama  # or openai_compatible

# config for LLM
EMBED_MODEL=your_embedding_model_here  # e.g., nomic-embed-text
LLM_BASE_URL=http://localhost:11434
LLM_MODEL=main-agent
LLM_API_KEY=  # OpenAI-compatible, remain empty for Ollama
LLM_TIMEOUT=180

LLM_TEMPERATURE=0.7 # Adjust for more creative (higher) or focused (lower) responses
LLM_FREQUENCY_PENALTY=0.4  # Penalize new tokens based on their existing frequency in the text so far, reducing repetition
LLM_PRESENCE_PENALTY=0.3    # Penalize new tokens based on whether they appear in the text so far, increasing the model's likelihood to talk about new topics

ROUTER_LLM_PROVIDER=ollama
ROUTER_LLM_BASE_URL=http://localhost:11434
ROUTER_LLM_MODEL=router-agent
ROUTER_LLM_API_KEY=  # OpenAI-compatible, remain empty for Ollama

JINA_API_KEY=your_jina_api_key_here

AGENT_MAX_STEPS=10

AGENT_UI_MODE=cli  # or other support of UI mode