LLM_PROVIDERollama_or_openai_compatible(deepseek,openai)

OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_MODEL=llama3

CLOUD_API_KEY=your_api_key_here
CLOUD_BASE_URL=https://xxx.com
CLOUD_MODEL=modelxxx
